* {
  box-sizing: border-box;
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: #1a1c28;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: black;
}
main {
  width: 50%;
  display: grid;
  grid-template-areas:
    "a a a b b"
    "c c d d d"
    "c c e e e";
  gap: 10px;
}

.A {
  background: #eb5020;
  grid-area: a;
  height: 200px;
}
.B {
  background: #fca201;
  grid-area: b;
}
.C {
  background: #05aa42;
  grid-area: c;
  height: 250px;
}
.D {
  background: #01aefd;
  grid-area: d;
}
.E {
  background: #01aefd;
  grid-area: e;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
